body {
    display: flex;
    align-items: center;
    justify-content: center;
    block-size: 100vh;
    font-family: 'Montserrat';
    gap: 1rem;
}

.game-container {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .5rem;
    gap: 2rem;
    border-radius: .5rem;
    background-color: #1E293B;
    inline-size: 20rem;
    block-size: 20rem;
}

.display {
    display: flex;
    gap: .5rem;
    background: #F8FAFC;
    padding: .5rem;
    border-radius: .6rem;
    flex-grow: 1;
}

.screen {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: .5rem;
    flex-grow: 1;
    border: 1px solid gray;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen.first-player,
.screen.second-player {
    flex-grow: 1;
    background-color: rgba(226, 226, 226, 0.426);
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.426);
    backdrop-filter: blur(10px);
}

.game-options {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 1rem;
}

.option {
    flex-grow: 1;
    padding: .5rem 1rem;
    color: rgba(218, 25, 236, 0.426);
    border-radius: .5rem;
    border: none;
    transition: all ease-in-out .1s;
    inline-size: 6rem;
    block-size: 5rem;
    border: 1px solid gray;
}

.option:hover {
    box-shadow: 0 0 5px 0 rgb(123, 123, 123);
}

.option:nth-child(1) {
    color: #EF4444;

    &:hover {
        transform: scale(1.2) rotate(-15deg);

        &:active {
            transform: scale(.9);
            background-color: rgba(217, 232, 255, 0.839);
            color: white;
        }
    }
}

.option:nth-child(2) {
    color: #10B981;

    &:hover {
        transform: scale(1.2) translateY(-10px);

        &:active {
            transform: scale(.9);
            background-color: rgba(217, 232, 255, 0.839);
            color: white;
        }
    }
}

.option:nth-child(3) {
    color: #3B82F6;

    &:hover {
        transform: scale(1.2) rotate(15deg);

        &:active {
            transform: scale(.9);
            background-color: rgba(217, 232, 255, 0.839);
            color: white;
        }
    }
}

.container-icons-round {
    display: flex;
    align-items: center;
    color: black;
    backdrop-filter: blur(2px);
    border-radius: .5rem .5rem 0 0;
    padding: .5rem 1rem;
    position: absolute;
    bottom: 100%;
    gap: .2rem;
    left: 50%;
    transform: translate(-50%);
    animation: slide .25s ease-in-out;
    box-shadow: 0 0 5px 0 rgba(123, 123, 123, .2);
}

.player_state_cell {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.state_cell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon_cell {
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes slide {
    from {
        opacity: 0;
        transform: translate(-50%, 30px);
    }

    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

.main-container {
    display: flex;
    align-items: flex-start;
    position: relative;
    justify-content: center;
}